<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Botões de Neon</title>
    <link rel="stylesheet" href="teste-botao.css">
</head>
<body>
    <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Colégio Vicente Rijo
    </a>
    <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Turma de Informática
    </a>
    <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Professor Marcelo
    </a>
</body>
</html>